<!-- navbar.component.html -->
<!--<nav class="bg-gray-800 text-white shadow-md">-->
<!--  <div class="container mx-auto px-4 py-2 flex justify-between items-center">-->
<!--    <a href="#" class="text-2xl font-bold">Project Management System</a>-->
<!--    <div class="flex space-x-4">-->
<!--      <a  routerLink="add"  class="btn btn-success bg-green-600 hover:bg-green-700 text-white">Add Project</a>-->
<!--      <button (click)="logout()"  class="btn bg-red-600 hover:bg-red-700 text-white">Logout</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<app-dashboard></app-dashboard>
