<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-4">Project Dashboard</h1>

  <div class="flex space-x-4 mb-4">
    <div>
      <label for="startDatePicker" class="block text-lg font-medium mb-2">Start Date & Time:</label>
      <input
        type="datetime-local"
        id="startDatePicker"
        class="input input-bordered w-full max-w-xs"
        [value]="startDate"
        (change)="onDateChange('start', $event)"
      />
    </div>
    <div>
      <label for="endDatePicker" class="block text-lg font-medium mb-2">End Date & Time:</label>
      <input
        type="datetime-local"
        id="endDatePicker"
        class="input input-bordered w-full max-w-xs"
        [value]="endDate"
        (change)="onDateChange('end', $event)"
      />
    </div>
  </div>

  <div *ngIf="projects.length > 0; else noProjects">
    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
      <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-300 text-left">Project Name</th>
        <th class="py-2 px-4 border-b border-gray-300 text-left">Status</th>
        <th class="py-2 px-4 border-b border-gray-300 text-left">Start Date</th>
        <th class="py-2 px-4 border-b border-gray-300 text-left">End Date</th>
        <th class="py-2 px-4 border-b border-gray-300 text-left">Owner</th>
        <th class="py-2 px-4 border-b border-gray-300 text-left">Members</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td class="py-2 px-4 border-b border-gray-300">{{ project.name }}</td>
        <td class="py-2 px-4 border-b border-gray-300">{{ project.status }}</td>
        <td class="py-2 px-4 border-b border-gray-300">{{ project.startDateTime }}</td>
        <td class="py-2 px-4 border-b border-gray-300">{{ project.endDateTime }}</td>
        <td class="py-2 px-4 border-b border-gray-300">{{ project.owner }}</td>
        <td class="py-2 px-4 border-b border-gray-300">
          <span *ngIf="project.projectMemberUsernames.length === 0">No members</span>
          <span *ngIf="project.projectMemberUsernames.length > 0">
              {{ project.projectMemberUsernames.join(', ') }}
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noProjects>
    <p>No projects found.</p>
  </ng-template>
</div>
