<div class="bg-white shadow-md rounded-lg p-4 mb-4">
  <h3 class="text-xl font-semibold mb-2">{{ project.name }}</h3>
  <p class="text-gray-600 mb-2">{{ project.intro }}</p>
  <div class="flex flex-col mb-4">
    <div class="mb-1">
      <strong>Status:</strong> {{ project.status }}
    </div>
    <div class="mb-1">
      <strong>Start Date:</strong>{{ project.startDateTime | dateFormat }}
    </div>
    <div class="mb-1">
      <strong>End Date:</strong> {{ project.endDateTime | dateFormat}}
    </div>
    <div class="mb-1">
      <strong>Owner:</strong> {{ project.owner }}
    </div>
    <div class="mb-1">
      <strong>Members:</strong>
      <span *ngIf="project.projectMemberUsernames.length === 0">No members</span>
      <span *ngIf="project.projectMemberUsernames.length > 0">
        {{ project.projectMemberUsernames.join(', ') }}
      </span>
    </div>
  </div>
</div>
